@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
.App {
  text-align: center;
}

:root {
  --primary-white: #fff;
  --primary-purple: #6f42c1;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-grey: #4b4646;
  --primary-black: #000000;
  --primary-green: green;
}

body {
  font-family: "Roboto Condensed" sans-serif !important;
  background-color: rgb(60, 60, 61) !important;
}

nav {
  z-index: 2;
}

.navbar-brand {
  color: var(--primary-white) !important;
}

.nav-link {
  letter-spacing: .04 rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav>li>a {
  margin-right: .75rem;
  margin-left: .75rem;
  color: var(--primary-white) !important;
  border-bottom: .19rem solid var(--primary-dark);
}

.navbar-nav>li>a.active, .navbar-nav>li>a.active:focus {
  border-bottom: .19rem solid var(--primary-purple);
}

.navbar-nav>li>a:hover {
  border-bottom: .19rem solid var(--primary-purple);
}

.header-wrapper {
  position: relative;
  background: url(portfolio.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed" sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-white);
  text-transform: uppercase;
}

.typed-text {
  font-size: 2rem;
  color: var(--primary-white)
}

.btn-main-offer {
  border: 1px solid var(--primary-purple);
  text-transform: uppercase;
  border-radius: 0;
  padding: .625rem .75rem .75rem .75rem;
  color: var(--primary-white);
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: #6f42c1;
  color: var(--primary-white);
}

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.about-heading {
  font-weight: 350;
  color: var(--primary-purple);
  text-transform: uppercase;
}

.about-text {
  color: var(--primary-white);
}

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: .3rem;
  border: 1px solid var(--primary-purple);
}

@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}

.portfolio-wrapper {
  background: var(--primary-grey);
  padding: 3rem 0;
}

.portfolio-wrapper h1 {
  font-weight: 350;
  color: var(--primary-purple);
}

.portfolio-image {
  width: 15rem;
  border: 1px solid var(--primary-purple);
  padding: .25rem .25rem;
}

.portfolio-image-box {
  position: relative;
  margin: 1rem;
}

.overflow {
  position: absolute;
  opacity: 0;
  background: var(--primary-black);
  width: 15rem;
  height: 8rem;
  top: 0;
  border: 1px solid var(--primary-purple);
  cursor: pointer;
}

.portfolio-image-box:hover .overflow {
  opacity: 50%;
}

.portfolio-image-popupbox {
  width: 45rem;
  padding: 0 0.5rem;
}

.hyper-link {
  cursor: pointer;
  color: var(--primary-black);
}

.hyper-link:hover {
  color: var(--primary-purple);
}

@media(max-width: 768px) {
  .portfolio-image-popupbox {
    width: 100%;
  }
}

.contactMe {
  background: var(--primary-dark);
  padding: 3rem 0;
}

.contactMe h1 {
  font-weight: 350;
  color: var(--primary-purple);
  padding: 1.3rem 0;
  text-transform: uppercase;
}

.contactMe p {
  color: var(--primary-white);
  font-size: 1.2rem;
}

.contactMe input, .contactMe textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: .125rem solid var(--primary-grey);
  border-radius: 0;
  color: var(--primary-purple) !important;
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
}

.contactMe .container {
  padding: 4rem 0;
}

.contactMe input:focus, .contactMe textarea:focus {
  background: transparent;
  color: var(--primary-purple);
  border-bottom: .125rem solid var(--primary-grey);
}

.contactMe textarea {
  height: 12.2rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
}

.line {
  position: relative;
  top: -.8rem;
  width: 0;
  height: .125rem;
  background: var(--primary-purple);
  display: inline-block;
}

input:focus+.line, textarea:focus+.line {
  width: 100%;
  transition: width .3s ease-in-out;
}

input.form-control {
  margin: -.3rem 0;
}

textarea.form-control {
  margin: -.3rem 0;
}

.error-message {
  color: var(--primary-white);
  background: red;
  text-align: left;
}

.success-message {
  font-weight: 700;
  color: var(--primary-green);
}



@media(max-width: 768px) {
  .contactMe .container {
    padding: 0 1rem;
  }
  .contactMe p {
    padding: 0 .5rem;
  }
}